btop/
cfg_backups/
Code - OSS/
dconf/
dunst/
fastfetch/
figma-linux/
fish/
gh/
github-copilot/
google-chrome/
gtk-3.0/
gtk-4.0/
hyde/
hypr/
ibus/
kde.org/
kitty/
Kvantum/
lazygit/
lsd/
MangoHud/
menus/
nwg-look/
obsidian/
procps/
pulse/
qt5ct/
qt6ct/
ranger/
rofi/
session/
spicetify/
spotify/
swappy/
swaylock/
systemd/
vscode-sqltools/
waybar/
wlogout/
xsettingsd/
~/home/chintamani/.themes/Catppuccin-Mocha/gtk-4.0/
baloofileinformationrc
code-flags.conf
dolphinrc
kdeglobals
kwalletrc
libinput-gestures.conf
mimeapps.list
pavucontrol.ini
spotify-flags.conf
trashrc
user-dirs.dirs
user-dirs.locale
gtk*
